{% extends "tilequery/base.html" %}
{% block title %}Genomic Query{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">        
        <form action="" method="post" name="query">{% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <label for="samples" class="form-label">Samples</label>
                    <input type="text" class="form-control" id="samples" name="samples" placeholder="e.g. 0001-0001,0002-0001,0003-0003" {% if query_items %}value="{{ query_items.0.samples }}"{% endif %}/>
                </div>
                <div class="col">
                    <label for="attrs" class="form-label">Attributes</label>
                    <input type="text" class="form-control" id="attrs" name="attrs" {% if query_items %}value="{{ query_items.0.attributes }}"{% else %}value="sample_name,id,alleles,fmt_GT,contig,pos_start,pos_end,info_AF"{% endif %} />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="regions" class="form-label">Regions</label>
                    <input type="text" class="form-control" id="regions" name="regions" placeholder="e.g. chr19:465000-468000,chr19:469000-471000" {% if query_items %}value="{{ query_items.0.regions }}"{% endif %} />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="genes" class="form-label">Genes (overrides Regions)</label>
                    <input type="text" class="form-control" id="genes" name="genes" placeholder="e.g. TUBB" {% if query_items %}value="{{ query_items.0.genes }}"{% endif %} />
                </div>
            </div>
            
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="genelist">Search Genelist?</label>
                <input class="form-check-input" type="checkbox" id="genelist" name="genelist" {% if query_items %}{% if query_items.1.genelist_flag %}checked{% endif %}{% endif %}/>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="clinvar" class="label">Search Clinvar?</label>
                <input class="form-check-input" type="checkbox" id="clinvar" name="clinvar" {% if query_items %}{% if query_items.1.clinvar_flag %}checked{% endif %}{% endif %} />
            </div>
            <div class="form-check form-check-inline">
                <label for="hidenonvariants" class="label">Hide Non-variants?</label>
                <input type="checkbox" class="form-check-input" id="hidenonvariants" name="hidenonvariants" {% if query_items %}{% if query_items.1.hidenonvariants_flag %}checked{% endif %}{% else %}checked{% endif %}/>
            </div>
            <button class="btn btn-primary me-2 p-2" type="submit" name="submit">Search</button>
            
        </form>


        {% if query_summary %}

        <div class="my-2">
            <div id="table_function_collapsers" class="btn-group btn-group-sm" role="group">                
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#querySummaryCollapse">Show Query Summary</button>
                {% if answer %}
                <button type="button" class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#customBuilderCollapse">Filter</button>
                <button type="button" class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#downloadCollapse">Download</button>
                {% endif %}
            </div>
            
            <div class="collapse" id="querySummaryCollapse">
                <div class="card card-body border-primary">
                    <div id="query_summary">
                        {{ query_summary | safe }}    
                    </div>
                </div>
            </div>            
            {% endif %}

        </div>

        {% if answer %}
        
        <div>
            <div id="answerTable_holder">
                {{ answer | safe }}
            </div>
        </div>
        
        {% endif %}
        
    </div>

<style>
    table.dataTable tbody td {
        word-break: break-word;
        vertical-align: top;
    }

</style>

{% endblock %}

<!-- See https://datatables.net/reference/option/dom for DataTables dom options -->

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function() {
        $('#T_answertable').DataTable({
            dom: '<"#customBuilderCollapse.collapse"<"card card-body border-success"Q>><"#downloadCollapse.collapse"<"card card-body border-info"B>><"row"<"col align-self-start"l>><"row"<"col align-self-start"i><"col align-self-end"p>><rt>',
             buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            lengthMenu: [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
            fixedHeader: true,
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: true,
            //columnDefs: [ {targets: '_all', width: '300px'} ],
            autoWidth: true,
            columnDefs: [
        {
            targets: [12], // assuming the URL is in the first column
            render: function (data, type, row, meta) {
                var url = data;
                // if url is '-' then don't make it a link, else make a link
                if (url == '-') {
                    return url;
                }                
                var link = '<a href="/admin/tilequery/notemodel/' + url + '">' + url + '(edit)</a>';
                return link;
            }
        }
    ]
        }
        );
    });
</script>
{% endblock %}