{% extends "tilequery/base.html" %}
{% block title %}Genomic Query{% endblock %}
{% block content %}
<div class="container">
        <h1>Genomics Query</h1>
        <form action="" method="post" name="query">{% csrf_token %}
            <label for="regions" class=""label">regions</label>
            <input type="text" name="regions" />
            <label for="samples" class=""label">samples</label>
            <input type="text" name="samples" />
            <label for="attributes" class=""label">attributes</label>
            <input type="text" name="attrs" value="sample_name,alleles,fmt_GT,contig,pos_start,pos_end,info_AF" />
            <button class=""button" type="submit" name="submit">Submit</button>
            
        </form>
        {% if query_summary %}
        <div id="query_summary">
            {{ query_summary | safe }}

            <!-- <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th>Queried Regions</th>
                        <th>Queried Samples</th>
                        <th>Queried Attributes</th>
                    </tr>
                    <tbody>
                        <tr style="text-align: center;">
                            {% for q in query_summary %}
                            <td>
                                {{ q }}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </thead>
            </table> -->
        </div>
        {% endif %}

        {% if answer %}
        <!-- <div class="container">            
            <p>Type something in the input field to search the list for specific items:</p>  
            <input class="form-control" id="myInput" type="text" placeholder="Search.."> 
        </div> -->
        <div>
            <div id="answerTable_holder">
                {{ answer | safe }}
            </div>
        </div>

        
        {% endif %}
    </div>
{% endblock %}

<!-- {% block scripts %}
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#T_answerTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
    {% endblock %} -->